<div class="container center">
    <h1>
        {{labelMois}}
    </h1>
    <ul class="pagination">
        <li class="waves-effect"><a href="absences?mois=minus"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-effect"><a href="absences?mois=plus"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>
<table class="tableauDate centered bordered highlight">
    <thead>
        <tr>
            <th>&nbsp;</th>
            {{#listeDate uneDate}}{{/listeDate}}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="blue-grey darken-2 nom">Prenom NOMUNPEULONGPOURVOIR</td>
            {{#listeMatinApresMidi uneDate}}{{/listeMatinApresMidi}}
        </tr>
        <tr>
            <td class="blue-grey darken-2 nom">Julien FABRE</td>
            {{#listeMatinApresMidi uneDate}}{{/listeMatinApresMidi}}
        </tr>
        <tr>
            <td class="blue-grey darken-2 nom">Prenom NOMUNPEULONGPOURVOIR</td>
            {{#listeMatinApresMidi uneDate}}{{/listeMatinApresMidi}}
        </tr>
        <tr>
            <td class="blue-grey darken-2 nom">Prenom NOMUNPEULONGPOURVOIR</td>
            {{#listeMatinApresMidi uneDate}}{{/listeMatinApresMidi}}
        </tr>
    </tbody>
</table>